name: PR-Tests

on: [pull_request]

jobs:
  unit-tests:
    name: Unit Test
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go v6.1.0
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
      with:
        go-version: 1.18
      id: go

    - name: Checkout v6.0.1
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

    - name: Get dependencies
      run: |
        go get -v -t -d ./...

    - name: Unit Tests
      run: go test -cover -race ./app/...

  release-test:
    name: Build Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout v6.0.1
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          fetch-depth: 0

      - name: Set up Go v6.1.0
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
        with:
          go-version: 1.18

      - run: go version

      - name: Set up QEMU v3.7.0
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130

      - name: Set up Docker Buildx v3.12.0
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f

      - name: Run GoReleaser v6.4.0
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a
        with:
          distribution: goreleaser
          args: release --snapshot --clean
